

 h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
section{
    padding: 120px 0;
}
img {
    display: block;
    margin: 0 auto; 
}
.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;  
    }
.advantage h2{
        visibility: hidden;
    }


body{
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;

    
}
.logo{
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.blue{
    color:#2e2f42;
}
.header-nav{
    display: flex;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    max-width: 1158px;
    padding: 0 15px;
}
.menu{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 40px;
}
.menu-nav{
    color:#2e2f42;
}
.menu-nav:hover{
    color:#404bbf;
}
.logo-navigation{
    color:#2e2f42;
}
.logo-navigation:hover{
    color:#404bbf;
}
.adress ul{
    display: flex;
    gap: 40px;
}
.adr{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.contacts{
    color:#434455;
}
.contacts:hover{
    color: #404bbf;
}
.page-main{
    background: #2e2f42;
}
.page-main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.page-main-title{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 188px auto 48px;
    
}
.page-main-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto 188px;
    
}
.page-main-button:hover{
    background: #404bbf;
}
.page-main-button:focus{
    background-color: #404BBF;
}

.advantage{
    align-items: baseline;
}
.advantage-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantage-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    margin: auto 24px;
}
.advantage-list{
    display: flex;
}
.advantage-text{
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
}
.team{
    background: #f4f4fd;
    height: 732px;
}
.team-link{
    display: flex;
    gap: 24px;
    margin-top: 120px;
    
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-our{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px; 
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;

}
.team-card{
    max-width: 1158px;
    padding: 0 15px;
}
.team-our .team-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

}
.team-our-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-our-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.portfolio-box{
    display: flex;
    width: 1128px;
    height: 1000px;
}
.portfolio-card{
    
}
.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-title-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-title-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.menu:hover,:active{
    color: #404bbf;
}
.adr:hover,:focus{
    color: #404bbf;
}
.end{
    background: #2e2f42;
}
.logo-end{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.end-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}